a.arc {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    padding: 10px 30px 10px 30px;
    /* border-radius: 10px; */
    border: 3px solid black;
    color: black;
    transition: font-weight 1s, background-color 5s;
    border-left: none;
    border-right: none;
    text-decoration: none;
    text-align: center;
    /* font-weight: bold; */
    /* background: linear-gradient(120deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000); */
    background-size: 400% 400%;

    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);

    -webkit-animation: pulse 3s ease-out infinite, rainbow 28s linear infinite;
    -z-animation: pulse 3s ease-out infinite, rainbow 28s linear infinite;
    -o-animation: pulse 3s ease-out infinite, rainbow 28s linear infinite;
    animation: pulse 3s ease-out infinite, rainbow 28s linear infinite;


}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
        clip-path: inset(-15px 0px -15px 0px);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        clip-path: inset(-15px 0px -15px 0px);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        clip-path: inset(-15px 0px -15px 0px);
    }
}

@keyframes rainbow {

    0% {
        border-color: rgba(255, 0, 0, 1);
        color: rgba(255, 0, 0, 1);
    }

    10% {
        border-color: rgba(255, 154, 0, 1);
        color: rgba(255, 154, 0, 1);
    }

    20% {
        border-color: rgba(208, 222, 33, 1);
        color: rgba(208, 222, 33, 1);
    }

    30% {
        border-color: rgba(79, 220, 74, 1);
        color: rgba(79, 220, 74, 1);
    }

    40% {
        border-color: rgba(63, 218, 216, 1);
        color: rgba(63, 218, 216, 1);
    }

    50% {
        border-color: rgba(47, 201, 226, 1);
        color: rgba(47, 201, 226, 1);
    }

    60% {
        border-color: rgba(28, 127, 238, 1);
        color: rgba(28, 127, 238, 1);
    }

    70% {
        border-color: rgba(95, 21, 242, 1);
        color: rgba(95, 21, 242, 1);
    }

    80% {
        border-color: rgba(186, 12, 248, 1);
        color: rgba(186, 12, 248, 1);
    }

    90% {
        border-color: rgba(251, 7, 217, 1);
        color: rgba(251, 7, 217, 1);
    }

    100% {
        border-color: rgba(255, 0, 0, 1);
        color: rgba(255, 0, 0, 1);
    }


}


a.arc:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.3) 35%,
            rgba(255, 255, 255, 0.5) 40%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.5) 60%,
            rgba(255, 255, 255, 0.3) 65%,
            rgba(255, 255, 255, 0) 70%);

    top: 0;
    left: -100px;
    animation: shine 3s infinite linear;
}

@-webkit-keyframes shine {
    0% {
        left: -100px
    }

    20% {
        left: 100%
    }

    100% {
        left: 100%
    }
}

@-moz-keyframes shine {
    0% {
        left: -100px
    }

    20% {
        left: 100%
    }

    100% {
        left: 100%
    }
}

@-o-keyframes shine {
    0% {
        left: -100px
    }

    20% {
        left: 100%
    }

    100% {
        left: 100%
    }
}

@keyframes shine {
    0% {
        left: -100px
    }

    20% {
        left: 100%
    }

    100% {
        left: 100%
    }
}

a.arc:hover {
    background-color: black;
    font-weight: 900;
}